.character-class-1 {
    color: darken($class-warrior, 25%);
}

.character-class-2 {
    color: darken($class-paladin, 25%);
}

.character-class-3 {

    color: darken($class-hunter, 25%);
}

.character-class-4 {
    color: darken($class-rogue, 30%);
    //text-shadow: 1px 1px rgba(0,0,0,0.2);
}

.character-class-5 {
    color: darken($class-priest, 25%);
}

.character-class-6 {
    color: $class-dk;
}

.character-class-7 {
    color: $class-shaman;
}

.character-class-8 {
    color: darken($class-mage, 25%);
}

.character-class-9 {
    color: darken($class-warlock, 25%);
}

.character-class-10 {
    color: darken($class-monk, 10%);
}

.character-class-11 {
    color: $class-druid;
}

.character-class-12 {

}
