// Triangle runs from lower left at the bottom of the container
@mixin diagonal-background-bottom-left-internal($width, $height, $color) {
  position: relative;
  &::after {
    $w_int: $width/1px;
    $h_int: $height/1px;
    $v_pad: ($height / $width) * 100 + 2;
    // we must use rgb because the # in hex doesn't work in some browsers
    $rgb_color: 'rgb(#{red($color)}, #{green($color)}, #{blue($color)})';

    padding: #{$v_pad}% 0 0;
    margin-bottom: -1px;
    background-position: 50%;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="#{$w_int}" height="#{$h_int}"><polygon points="0,#{$h_int} #{$w_int},0 #{$w_int},#{$h_int}" style="fill:#{$rgb_color};stroke:#{$rgb_color};stroke-width:0"></polygon></svg>');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    content: '';
  }
}

// Triangle runs from top left at the top of the container
@mixin diagonal-background-top-left-internal($width, $height, $color) {
  position: relative;
  &::before {
    $w_int: $width/1px;
    $h_int: $height/1px;
    $v_pad: ($height / $width) * 100 + 1;
    // we must use rgb because the # in hex doesn't work in some browsers
    $rgb_color: 'rgb(#{red($color)}, #{green($color)}, #{blue($color)})';

    padding: #{$v_pad}% 0 0;
    background-position: 50%;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="#{$w_int}" height="#{$h_int}"><polygon points="#{$h_int},0 #{$w_int},0 #{$w_int},#{$h_int}" style="fill:#{$rgb_color};stroke:#{$rgb_color};stroke-width:0"></polygon></svg>');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    content: '';
    margin-top: -1px;
  }
}



// Triangle runs from the top right at the top of the container
@mixin diagonal-background-top-right-internal($width, $height, $color) {
  position: relative;
  &::before {
    $w_int: $width/1px;
    $h_int: $height/1px;
    $v_pad: ($height / $width) * 100 + 1;
    // we must use rgb because the # in hex doesn't work in some browsers
    $rgb_color: 'rgb(#{red($color)}, #{green($color)}, #{blue($color)})';

    padding: #{$v_pad}% 0 0;
    background-position: 50%;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="#{$w_int}" height="#{$h_int}"><polygon points="0,0 #{$w_int},0 0,#{$h_int}" style="fill:#{$rgb_color};stroke:#{$rgb_color};stroke-width:0"></polygon></svg>');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    content: '';
    margin-top: -1px;
  }
}


// External mixins (negative margins)
@mixin diagonal-background-bottom-right-internal($width, $height, $color) {
  position: relative;
  &::after {
    $w_int: $width/1px;
    $h_int: $height/1px;
    $v_pad: ($height / $width) * 100 + 1;
    // we must use rgb because the # in hex doesn't work in some browsers
    $rgb_color: 'rgb(#{red($color)}, #{green($color)}, #{blue($color)})';

    padding: #{$v_pad}% 0 0;
    background-position: 50%;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="#{$w_int}" height="#{$h_int}"><polygon points="0,0 0,#{$h_int} #{$w_int},#{$h_int}" style="fill:#{$rgb_color};stroke:#{$rgb_color};stroke-width:0"></polygon></svg>');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    content: '';
  }
}



@mixin diagonal-background-top-left($width, $height, $color) {
  position: relative;
  &::after {
    $w_int: $width/1px;
    $h_int: $height/1px;
    $v_pad: ($height / $width) * 100 + 1;
    // we must use rgb because the # in hex doesn't work in some browsers
    $rgb_color: 'rgb(#{red($color)}, #{green($color)}, #{blue($color)})';

    padding: #{$v_pad}% 0 0;
    background-position: 50%;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="#{$w_int}" height="#{$h_int}"><polygon points="0,#{$h_int} #{$w_int},#{$h_int} #{$w_int},0}" style="fill:#{$rgb_color};stroke:#{$rgb_color};stroke-width:0"></polygon></svg>');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    content: '';
  }
}
