.title-tank {
    &::before {
        content: 'Tanks';
        font-weight: bold;
    }
}

.title-healer {
    &::before {
        content: 'Healers';
        font-weight: bold;
    }
}

.title-mdps {
    &::before {
        content: 'Melee DPS';
        font-weight: bold;
    }
}

.title-rdps {
    &::before {
        content: 'Ranged DPS';
        font-weight: bold;
    }
}

.boss-wipe {
    a {
        color: invert($global-accent);
    }
}

.boss-kill {
    font-weight: bold;
}

.pending-response {
    >.character-name {
        display: inline-block;

        .character-name {
            display: inline-block;
        }

        &:after {
            content: ',';
        }

        &:last-of-type {
            &:after {
                content: '';
            }
        }
    }
}
