$fa-font-path: "../fonts/font-awesome";
$font-family-sans-serif:  Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;

// Navigation overrides
$navbar-default-link-color: #fff;
$navbar-border-radius: 0px;
$navbar-default-bg: rgba(255,255,255,0.4);
