$global-background : #f5f5f5;
$global-accent     : #468C58;

// Class colours
$class-warrior  : #C79C6E;
$class-paladin  : #F58CBA;
$class-hunter   : #ABD473;
$class-rogue    : #FFF569;
$class-priest   : #FFFFFF;
$class-dk       : #C41F3B;
$class-shaman   : #0070DE;
$class-mage     : #69CCF0;
$class-warlock  : #9482C9;
$class-monk     : #00FF96;
$class-druid    : #FF7D0A;
$class-dh       : #A330C9;
