$fa-font-path: "../fonts/font-awesome";
$font-family-sans-serif:  Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;

// Colours
$brand-primary : $global-accent;
$text-muted    : darken($global-background, 25%);

// Navigation overrides
$navbar-default-link-color  : #fff;
$navbar-border-radius       : 0px;
$navbar-default-bg          : rgba(255,255,255,0.4);

// Breadcrumb override
$breadcrumb-bg  : darken($global-background, 5%);

// Blockquote overrides
$blockquote-font-size:  inherit;
$blockquote-border-color: $global-accent;
